*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:darkolivegreen;

}
header{
    font-size: 5em;
   color:black;
     background-color: rgb(208, 229, 222);
    text-align: center;
}
#form{
    font-size: 5em;
    color:rgb(15, 16, 16);
    display:flex;
    border-color: black;
    justify-content: center;
}
#firstname{
     font-size: 50px;
    color:black;
     background-color: rgb(208, 229, 222);
    text-align: center;
}
#lastname{
      font-size: 50px;
    color:black;
     background-color: rgb(208, 229, 222);
    text-align: center;
}
#conatct{
      font-size: 50px;
    color:black;
     background-color: rgb(208, 229, 222);
    text-align: center;
}
#email{
      font-size: 50px;
    color:black;
     background-color: rgb(208, 229, 222);
    text-align: center;
}
#address{
      font-size: 50px;
      text-align: center;
  
    color:black;
     background-color: rgb(208, 229, 222);
}
#submit{
      font-size: 50px;
    color:black;
    background-color: aquamarine;
    text-align: center;
}
footer{
    font-size:50px;
    color:black;
    text-align: center;
    margin-bottom: auto;
    background-color: aquamarine;
    
}

